// Needs to be included in any web client package that uses BrowserUtils to lock/unlock page scroll
@mixin GlobalBrowserUtilsStyles() {
    html[data-scroll-locked="true"] {

        body {
            position: fixed;
            overflow-y: scroll;
        }
    }
    
    body {
        min-height: 100%;
    }
}
