@import "../../../styles/uiBase.scss";

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $siteBg;
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s;

    &.show {
        pointer-events: all;
        opacity: 1;
        transition: all 0s;
    }
}