@import "./uiBase.scss";

@include GlobalBrowserUtilsStyles();

* {
	scroll-behavior: smooth;

	// set custom scroll styles for devices that have a cursor
	@include nonTouchDevice() {
		@include ScrollbarWidth();
		
		@include ScrollbarTrack();
		
		@include ScrollbarThumb();
	}
}

html {
	color: $colorTextPrimary;
}

body {
	background-color: $siteBg;
}